.sobre{
    text-align: center;
    padding: 2.5rem;

}
.sobre-titulo{
    color: #8d0606;
    font-family: Pacifico, cursive;
}
.sobre-descripcion{
    color: #808080;
    margin-right: 1rem;
}

/*    INICIANDO CCS RESPONSIVE    */

@media screen and (min-width: 0){

    .sobre-titulo{
        font-size: 2rem;
    }
    .sobre-descripcion{
       margin-top: 2rem;
    }
}

@media screen and (min-width: 768px){

    .sobre-titulo{
         font-size: 3.1875rem;
    }
}